<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Transaction Create Form</title>
</head>
<body>
<section layout:fragment="content">
    <header id="main-header" class="py-2 bg-secondary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fa fa-money"></i>
                        Payment
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2 mb-1">
                    <a class="btn btn-outline-secondary btn-block" th:href="@{/admin/payment}">
                        <i class="fa fa-arrow-circle-left"></i>
                        <span>Back to Home</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="transactionForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>New Transaction Create Form</h4>
                        </div>
                        <form class="card-body" th:action="@{/admin/transactionCreate}" method="post" th:object="${transaction}">
                            <input type="hidden" th:field="*{paymentId}">
                            <div class="form-group">
                                <label for="paidAmount">Amount</label>
                                <input type="number" class="form-control" id="paidAmount" required th:field="*{amount}">
                            </div>
                            <div th:if="${#fields.hasErrors('amount')}" style="border-radius: 8px" class="alert-danger my-2 p-2">
                                <span th:errors="*{amount}"></span>
                            </div>
                            <input type="submit" value="Save" class="btn btn-secondary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
